{{header}}
    <div id="carouselExampleCaptions" class="carousel slide"> <div class="carousel-inner">
    <div class="carousel-item active"  style="height: 700px;"><img src="/images/delivery.jpg" class="img-fluid d-block w-100 center-mobile1"   alt="..."><div class="carousel-caption  d-md-block slider_bg">
      <h3>Delivery methods:</h3>
      <h4>
        *cash on delivery:<br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat magnam repudiandae at beatae temporibus nemo corrupti mollitia cum nam architecto deleniti molestias culpa voluptates, quidem recusandae? Reiciendis temporibus minima totam?<br>
        *online payment:<br>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae voluptates explicabo animi quasi voluptas doloribus reprehenderit perferendis quod ut, officia fugiat cupiditate natus, recusandae debitis sapiente expedita, distinctio autem mollitia. 
      </h4>
    </div></div></div></div>
     
    </div>


{{footer}}