{{header}}
  <form action="/signUp" method="post">
  <div class="container-fluid" id="loginForm">
    <div class="form-floating mb-3">
        <input type="text" required="required" class="form-control" name="login" placeholder="name@example.com">
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating">
        <input type="password" required="required"  class="form-control" name="password" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="form-floating" style="margin-top:20px">
        <input type="password" required="required"  class="form-control" name="confirm_password" placeholder="Confirm assword">
        <label for="floatingPassword">Confirm password</label>
      </div>
      <div class="form-check" style="margin-top:20px">
        <input class="form-check-input" required="required" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Accept <a href="">User Agreement & User Privacy Notice</a>
        </label>
      </div>
      <button type="submit" class="btn btn-dark" style="margin-top: 20px">Register</button>
  </div>
</form>
   <p style="visibility: hidden;"> {{modal}}</p>

{{footer}}