.login {
    display: flex;
  }

  body {
    overflow-y: scroll;
    background-color: rgb(248, 249, 250);
  }

  #menubutton {
    min-width: 100px;
  }

  #slider {
    height: 700px;
  }

  .slider_bg {
    background-color: rgb(46, 46, 46);
    opacity: 0.7;
    color: white;
    font-size: 25px;
  }
  /* --------------------- */
  /* scrollbar styles */
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }
  #loginForm
  {
    width: 60vw;
    margin: auto;
    border: 1px solid black;
    padding: 5%;

  }